<div>
  {% for item in site.projects %}
    <div class="project-container padding-y-9 border-top-1px">
        <div class="project-titles {% cycle 'project-titles-odd', '' %} grid-container">
          <div class="grid-row">
            <div class="tablet:grid-col-6">
              <h2>{{ item.title }}</h2>
            </div>
          </div>
          <div class="grid-row">
            <div class="tablet:grid-col-4">
              <span class="text-base-light text-thin font-body-3xs">{{ item.department }}</span>
            </div>
          </div>
          <div class="grid-row">
            <div class="tablet:grid-col-6 margin-top-2 margin-bottom-4">
              <span>{{ item.description }}</span>
            </div>
          </div>
        </div>

        <div class="grid-container">
          {% include project-details.html 
            sponsorTitle="Executive Champions" 
            sponsors=item.champions
            teamsTitle="Tech Teams" 
            teams=item.teams %}

          {% include project-details.html 
            sponsorTitle="Product Advisors" 
            sponsors=item.advisors
            teamsTitle="User Advocates" 
            teams=item.advocates %}
        </div>

      </div>
  {% endfor %}
</div>