
<div class="sprint-list">

  <div class="grid-row">
    {% for item in site.data.sprints %}
      <div class="grid-col-1 sprint-picker-container grid-row flex-column">
        <div id="sprint-picker-{{ item.week }}" 
          class="sprint-circle sprint-picker{% if forloop.index == 5 %}-selected{% endif %}"
          onclick="showSprint( '{{ item.week }}' )"
        ></div>
        
        <div id="nav-details-{{ item.week }}" class="nav-details">
          <h3>Week {{ item.week }}</h3>
          <span class="font-mono-3xs">{{ item.dates }}</span>
        </div>
    
      </div>
    {% endfor %}
  </div>

  <div class="sprint-details-container grid-container">
    
    {% for item in site.data.sprints %}
      <div class="grid-row">
        <div id="sprint-details-{{ item.week }}" 
          class="sprint-details grid-col-6 grid-offset-3
            grid-row flex-column border-bottom-1px">
          {% for event in item.events %}
            <div class="sprint-event border-top-1px">
              <h3>{{ event.title }}</h3>
              <p>{{ event.details }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

</div>

<script type="text/javascript" src="/assets/js/sprintNav.js" ></script>
