/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

/******************************* 
 * custom project SASS
 *******************************/
@import 'uswds/src/uswds';

$gold: #FFC402;
$bright-blue: #0059FC;

.usa-hero {
  background-image: none;
  background: $bright-blue;

  .usa-hero__callout {
    background: $bright-blue;
    max-width: 25rem;
  }

  .usa-hero__heading {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
  }
  .usa-hero__heading--alt {
    font-size: 0.8rem;
    text-transform: none;
    font-family: 'Roboto Mono';
  }
}



.project-titles:before {
  content: '';
  width: 20%;
  height: 3px;
  background: color($theme-color-primary-vivid);
  position: absolute;
}

.project-titles-odd:before {
  background: color($theme-color-secondary-vivid);
}


.sprint-picker-container {
  align-items: center;
}
.sprint-circle {
  cursor: pointer;
}
.sprint-picker {
  background-color: white;
  border: 3px solid $gold;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-top: 5px;

  transition-property: width height background-color border-radius;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.sprint-picker-selected {
  background-color: $gold;
  border: 3px solid white;
  border-radius: 18px;
  box-shadow: 0 0 0 2px $gold;
  height: 27px;
  width: 27px;

  transition-property: width height background-color border-radius;
  transition-duration: 0.15s;
  transition-timing-function: 0.2s;

  cursor: default;
}
.nav-details {
  text-align: center;
}



/**************** 
 * uswds shims
 ****************/

.usa-footer__logo-img {
  width: 3rem;
}

@include at-media("mobile-lg") {
  .usa-footer--big a.usa-footer__primary-link {
    margin-bottom: units(3);
  }
}

.usa-header {
  button[aria-expanded="true"],
  button[aria-expanded="true"]:hover {
    &:after {
      display: none;
    }
  }
}

.usa-layout-docs__sidenav,
.usa-layout-docs__main {
  width: 100%;
  overflow: hidden;
}
