/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@import 'uswds/src/uswds';

// CUSTOM SASS
$gold: #FFC402;

.usa-hero {
  background-image: none;
  background: color($theme-color-primary-vivid);
}

.project-titles:before {
  content: '';
  width: 20%;
  height: 3px;
  background: color($theme-color-primary-vivid);
  position: absolute;
}

.project-titles-odd:before {
  background: color($theme-color-secondary-vivid);
}

.sprint-picker {
  background-color: white;
  border: 3px solid $gold;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.sprint-picker-selected {
  background-color: $gold;
  border: 3px solid white;
  border-radius: 18px;
  box-shadow: 0 0 0 2px $gold;
  height: 27px;
  width: 27px;
}


// uswds shims
.usa-footer__logo-img {
  width: 100%;
}

@include at-media("mobile-lg") {
  .usa-footer--big a.usa-footer__primary-link {
    margin-bottom: units(3);
  }
}

.usa-header {
  button[aria-expanded="true"],
  button[aria-expanded="true"]:hover {
    &:after {
      display: none;
    }
  }
}

.usa-layout-docs__sidenav,
.usa-layout-docs__main {
  width: 100%;
  overflow: hidden;
}
