---
layout: default
main:
  class: usa-section
---
<!-- sloppy :-/ todo: replace with setting in uswds -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet"> 

<style>
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
</style> 

<div class="grid-container">
  {{ content }}

  {% include sprint-list.html %}
  <br/>
  {% include project-list.html %}
</div>